<launch>

	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="pause" default="false"/>
	<arg name="world" value="$(find hybrid_astar)/world/hospital_04.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg pause)"/>
		<arg name="use_sim_time" value="true"/>
	</include>
	<!-- Hospital -->
	<!-- <node pkg="map_server" name="map_server" type="map_server" args="$(find hybrid_astar)/maps/hospital_04.yaml"/> -->
	<node pkg="map_server" name="map_server" type="map_server" args="$(find hybrid_astar)/maps/hospital_restricted.yaml"/>
	<param name="frame_id" value="/map" />
	
<group ns ="robot1">
 	<param name = "tf_prefix" value="robot1"/>
	<include file="$(find ridgeback_gazebo)/launch/spawn_ridgeback.launch">
		<arg name="config" default="dual_hokuyo_lasers" />

		<arg name="x" default="-17.000000"/>
		<arg name="y" default="0"/>
		<arg name="z" default="0.025893"/>
		<arg name="yaw" default="0.000000"/>
		<arg name="robot_name" value="robot1"/>

	</include>

	<!-- Fake Localization -->
	<node pkg="fake_localization" type="fake_localization" name="fake_localization"
            respawn="false">
	<param name = "global_frame_id" value = "/map"/>
            <param name="odom_frame_id" value="robot_1/odom" />
            <param name="base_frame_id" value="robot_1/base_link"/>
        </node>

	<!-- AMCL -->
	<!--<include file="$(find ridgeback_navigation)/launch/include/amcl.launch" >
		 <arg name="scan_topic"	value="$(arg scan_topic)" /> 
  		 <remap from="scan" to="base_scan"/> 
  		<remap from="map" to="map"/>
		  <param name="global_frame_id" value="/map"/>
  		<param name="odom_frame_id" value="robot_1/odom"/>
  		<param name="base_frame_id" value="robot_1/base_link"/>
	</include> -->

	 <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom1" args="0 0 0 0 0 0 /map /robot1/odom"/>
	 <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom2" args="0 0 0 0 0 0 /robot1/odom /robot1/base_link"/>
	<!--- Move Base CHANGE 6 Aug -->
	<include file="$(find ridgeback_navigation)/launch/include/move_base.launch"> 
	<remap from="map" to ="/map" />
</include>
</group>

	<!-- Hybrid A* -->
	<!-- CHANGE MADE ON 11 AUG UNCOMMENT LATER -->	
	<node pkg="hybrid_astar" type="hybrid_astar" name="hybrid_astar" output="screen" />	

	<!-- Voronoi Graph -->
	<node pkg="tuw_voronoi_graph" type="tuw_voronoi_graph_node" name="graph_generator" output="screen">
		<param name="graph_cache_path" value="$(find hybrid_astar)/maps/voronoi/cache/" />
		<param name="custom_graph_path" value="" />
		<rosparam command="load" file="$(find hybrid_astar)/maps/voronoi/graph.yaml"/>
	</node>

	<arg name="config" default="visualization" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/rviz/$(arg config).rviz" />

	<!-- tf left and right -->
	<!-- node name="robot_tf_publisher_left" pkg="hybrid_astar" type="tf_broadcaster_left"/-->
	<!-- node name="robot_tf_publisher_right" pkg="hybrid_astar" type="tf_broadcaster_right"/-->
	<!-- node name="robot_tf_listener_left" pkg="hybrid_astar" type="tf_broadcaster_left"/-->
	<!-- node name="robot_tf_listener_right" pkg="hybrid_astar" type="tf_broadcaster_right"/-->
</launch>
